/*------------------------------------*\
	#OVERRIDE STLES
	This style sheet can be used for two different functions:
	1. Override specific Bootstrap styles.
	2. Add other styles.
\*------------------------------------*/

/**
 * Import Google Font
*/

@import 'https://fonts.googleapis.com/css?family=Vollkorn';
/**
 * Change table background colour
*/


.table-striped{
        background-color:#F0F8FF;
    }


/**
 * Change the padding at the top and font
*/



body { padding-top: 70px;
  font-family: 'Vollkorn', serif;}



/**
 * Change the size of the container
*/

.container-fluid { max-width: 950px; }



/**
 * CHange the size of the bottom margin
*/

.thumbnail { margin-bottom: 5px; }



/**
 * Adjusting the margins again
*/

.margin-t-0 { margin-top: 0; }
.margin-t-h { margin-top: .5em; }
.margin-t-1 { margin-top: 1em; }
.margin-t-2 { margin-top: 2em; }
.margin-t-3 { margin-top: 3em; }
.margin-b-0 { margin-bottom: 0; }
.margin-b-h { margin-bottom: .5em; }
.margin-b-1 { margin-bottom: 1em; }
.margin-b-2 { margin-bottom: 2em; }
.margin-b-3 { margin-bottom: 3em; }

.margin-tb-0
{
	margin-top: 0;
	margin-bottom: 0;
}

.margin-tb-h
{
	margin-top: .5em;
	margin-bottom: .5em;
}

.margin-tb-1
{
	margin-top: 1em;
	margin-bottom: 1em;
}

.margin-tb-2
{
	margin-top: 2em;
	margin-bottom: 2em;
}

.margin-tb-3
{
	margin-top: 3em;
	margin-bottom: 3em;
}
